@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* General styles */
.bg1{
  position: absolute;
  top: 0;
  left: 30%;
  height: 50vh;
}
body {
  margin: 0;
  padding: 0;
  background-color: #14162E;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.questionbdr {
  overflow: scroll;
  height: 40vh;
  box-shadow: inset #9eabdf73 0px 0px 15px 8px;
  position: relative;
  padding: 20px;
  border-radius: 10px;
}

.response {
  color: wheat;
}

.mic {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Star animation */
.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://www.transparenttextures.com/patterns/stardust.png');
  z-index: -1;
  pointer-events: none;
  animation: twinkling 10s infinite;
}

@keyframes twinkling {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 10000px 5000px; /* Adjust background position for twinkling effect */
  }
}

.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.loader {
  width: 20vh;
  aspect-ratio: 1;
  background: #3FB8AF;
  position: relative;
  animation: l8-0 2.5s infinite linear alternate;
}

.loader:before {
  content: "";
  position: absolute;
  inset: 0;
  background: #FF3D7F;
  transform: translate(100%);
  transform-origin: top left;
  animation: l8-1 .5s infinite alternate;
}

@keyframes l8-0 {
  0%, 19.9%, 80%, 100% {
    transform: scale(1, 1);
  }
  20%, 39.9% {
    transform: scale(-1, 1);
  }
  40%, 59.9% {
    transform: scale(-1, -1);
  }
  60%, 79.9% {
    transform: scale(1, -1);
  }
}

@keyframes l8-1 {
  0%, 20% {
    transform: translate(100%) rotate(0);
  }
  80%, 100% {
    transform: translate(100%) rotate(-180deg);
  }
}
