.swalpopup {
    background: #f6f8fc;
    border: 1px solid #d6d8dc;
    border-radius: 15px;
    animation: fadeIn 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.swaltitle {
    color: #4a90e2;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.swalcontent {
    color: #333;
    font-size: 16px;
    margin-bottom: 20px;
}

.swalconfirmbutton {
    background-color: #4a90e2 !important;
    color: white !important;
    border-radius: 5px !important;
    padding: 10px 20px !important;
    font-size: 14px !important;
}

.swaliconsuccess .swalicon {
    border-color: #4a90e2 !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

.swalpopup.swal2hide {
    animation: fadeOut 0.3s ease-in-out;
}